<!DOCTYPE html>
<html>

<head>
    <title>Your Flights</title>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="results.css">
</head>

<body>
    <h1>Flight Results</h1>
    <div class="container">
        <% if (flights.length == 0) { %>
            <h2><center> No Flights found</center> </h2>
        <% } else { %>
            <% flights.forEach(function(f){ %>
            <div class="listitem">
                <img class="airlinelogo" src="<%= f.logo %>">
                <div class="flightdetailsbox">
                    <h4 class="airlinename"><%= f.airline_name + " - " + f.flight_no %></h4>
                    <p class="flightdetails"><span id="fromtime"><b><%= f.departure_time.substring(0,5) %></b> </span><span id="from"><%= f.from_code %></span> <b
                        style="font-size: 1.7rem">&#8658</b> <span id="fromtime"><b><%= f.arrival_time.substring(0,5) %></b> <span id="to"><%= f.to_code %></span>
                    </p>
                </div>
                <div class="rightsection">
                    <h3 class="cost">₹ <%= f.price %></h3>
                    <button class="book"><a href="/book/<%= f.flight_no %>">Book Now</a></button>
                </div>
            </div>
            <% }); %>
        <% } %>
    </div>
</body>

</html>